.toggle-button {
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  position: fixed;
  right: 0;
}

.toggle-button:focus {
  outline: none;
}
