.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 32px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 15px;
  margin-right: 15px;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button_line {
  width: 100%;
  height: 2px;
  background: aliceblue;
}
